@font-face {
    font-family: "CustomFont";
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

:root {
    --default-font: "CustomFont", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh;
}

main {
    height: 100%;
    background-color: whitesmoke;
}

.header {
    min-height: 45%;
    color: #fff;
    font-family: var(--default-font);
    text-align: center;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 15px 15px;
}

.result-box {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 49%;
    height: 60%;
    text-align: center;
}

.body {
    height: 55%;
    font-family: var(--default-font);
}

.cognitive {
    height: 80%;
    justify-content: space-between;
}

.cgn {
    height: calc(100% / 4.5);
    border-radius: 10px;
    width: 100%;
    background-color: hsl(150, 100%, 85%);
    display: flex;
}




.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }