body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    height: 100vh;
}

main {
    height: 100%;
    background-color: blueviolet;
}



.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }